<div id="content">
   <div class="splash-image">
      <span class="splash-text">GO AWAY!</span>
   </div>

   <form id="auth-form" method="POST">
      <span id="auth-description"></span>
      <br />
      <span class="input-title">Username or e-mail:</span>
      <input type="text" name="username" placeholder="Jack" required autofocus>
      <br />
      <span class="input-title">Password:</span>
      <input type="password" name="password" placeholder="Sparrow" required>
      <br />
      <input type="submit" value="Authenticate">
   </form>
</div>
