@import "../../../less/main.less";
@import "testResults.less";
@import "pull.less";
@import "leaderboard.less";
@big-glyphicon: 18px;

#debug-indicators {
   display: none;
}

.navbar:hover #debug-indicators {
   display: inline;
}
