@import "../../../less/main.less";
@import "testResults.less";
@import "pull.less";
@import "leaderboard.less";
@big-glyphicon: 18px;

#branch_name_clipboard {
   position: fixed;
   top: 0px;
   left: -1000px;
}
