@cornflower-blue: #4174d9;
@rosy-pink: #f0747d;
@soft-blue: #6292f0;
@sand-brown: #ce9b5f;
@soft-green: #76c773;
@charcoal-grey: #3d444c;


// Color Scheme
@brand-primary: darken(#3683C5, 10%);
@brand-success: darken(#6CB644, 10%);
@brand-info:    darken(#57A8EB, 10%);
@brand-warning: darken(#E7B049, 10%);
@brand-danger:  darken(#DB524B, 10%);

@background-color: #20242B;

// Header
@header-background: #171A1F;
@header-border: #171A1F;

@theme-selector-text: #ABB2C0;
@theme-selector-active: #FAFAFA;
@theme-selector-inactive: #777777;

@brand-color: #ABB2C0;
@brand-highlight: #6193EA;

@global-indicator-text: #ABB2C0;
@global-indicator-text-link: @cornflower-blue;
@global-indicator-count-text: #FAFAFA;
@global-indicator-count-border: #777777;
@global-indicator-count-background: #20242B;

// Leaderboard
@leaderboard-background: #171A1F;
@leaderboard-border: #171A1F;
@leaderboard-title-text: #ABB2C0;

@leaderboard-posting-background: #2A3851;
@leaderboard-leader-background: #155902;

@leaderboard-count: #FAFAFA;
@leaderboard-user: #FAFAFA;

// Pulls
@panel-ci-blocked-text: @brand-warning;
@panel-ci-blocked-background: #171A1F;
@panel-ci-blocked-border: @brand-warning;
@panel-ci-blocked-count-text: @brand-warning;
@panel-ci-blocked-count-background: #171A1F;
@panel-ci-blocked-count-border: @brand-warning;

@panel-deploy-blocked-text: @brand-danger;
@panel-deploy-blocked-background: #171A1F;
@panel-deploy-blocked-border: @brand-danger;
@panel-deploy-blocked-count-text: @brand-danger;
@panel-deploy-blocked-count-background: #171A1F;
@panel-deploy-blocked-count-border: @brand-danger;

@panel-ready-text: @brand-success;
@panel-ready-background: #171A1F;
@panel-ready-border: @brand-success;
@panel-ready-count-text: @brand-success;
@panel-ready-count-background: #171A1F;
@panel-ready-count-border: @brand-success;

@panel-default-text: #FFFFFF;
@panel-default-background: #2F353B;
@panel-default-border: #2F353B;
@panel-default-count-text: #FFFFFF;
@panel-default-count-background: #3A4148;
@panel-default-count-border: #3A4148;

@pull-title: #ABB2C0;
@pull-number: #FFFFFF;
@pull-background: #20242B;
@pull-background-hover: #171A1F;
@pull-separator: #2F353B;

// Build statuses
@build-state-pending: #DDDDDD;
@build-state-failure: @brand-warning;
@build-state-error:   @brand-danger;
@build-state-success: @brand-success;

@tag-default-border: #2D3239;
@tag-default-background: #2D3239;

@tag-current-milestone: @brand-primary;
@tag-current-milestone-border: @tag-default-border;
@tag-current-milestone-background: @tag-default-background;

@tag-past-milestone: @brand-danger;
@tag-past-milestone-border: @tag-default-border;
@tag-past-milestone-background: @tag-default-background;

@tag-dev-blocked: @brand-warning;
@tag-dev-blocked-border: @tag-default-border;
@tag-dev-blocked-background: @tag-default-background;

@tag-deploy-blocked: @brand-danger;
@tag-deploy-blocked-border: @tag-default-border;
@tag-deploy-blocked-background: @tag-default-background;

// CR and QA boxes
@status-background: #2D3239;
@status-border: #2D3239;
@status-text: #ABB2C0;

// Signatures (CR / QA)
@signature-default: #20242B;
@signature-valid: @brand-success;
@signature-valid-mine: #663399;
@signature-invalid: @brand-warning;
@signature-invalid-mine: @brand-danger;

// On hover signoffs
@signature-separator-border: #eeeeee;
@signature-separator-background: #000000;

// Refresh on hover
@refresh-hover: #265b89;
