@cornflower-blue: #4174d9;
@rosy-pink: #f0747d;
@soft-blue: #6292f0;
@sand-brown: #ce9b5f;
@soft-green: #76c773;
@charcoal-grey: #3d444c;


// Color Scheme
               @brand-primary: #3683C5;
               @brand-success: #6CB644;
               @brand-info:    #57A8EB;
               @brand-warning: #E7B049;
               @brand-danger:  #DB524B;

@background-color: #20242B;

// Header
@header-background: #171A1F;
@header-border: #171A1F;

@theme-selector-text: #ABB2C0;
@theme-selector-active: #FAFAFA;
@theme-selector-inactive: #777777;

@brand-color: #ABB2C0;
@brand-highlight: #6193EA;

@global-indicator-text: #ABB2C0;
@global-indicator-text-link: @cornflower-blue;
@global-indicator-count-text: #FAFAFA;
@global-indicator-count-border: #777777;
@global-indicator-count-background: #20242B;

// Leaderboard
@leaderboard-background: #171A1F;
@leaderboard-border: #171A1F;
@leaderboard-title-text: #ABB2C0;

@leaderboard-posting-background: #2A3851;
@leaderboard-leader-background: #155902;

@leaderboard-count: #FAFAFA;
@leaderboard-user: #FAFAFA;

// Pulls
@panel-ci-blocked-text: @brand-warning;
@panel-ci-blocked-background: #171A1F;
@panel-ci-blocked-border: @brand-warning;
@panel-ci-blocked-count-text: @brand-warning;
@panel-ci-blocked-count-background: #171A1F;
@panel-ci-blocked-count-border: @brand-warning;

@panel-deploy-blocked-text: @brand-danger;
@panel-deploy-blocked-background: #171A1F;
@panel-deploy-blocked-border: @brand-danger;
@panel-deploy-blocked-count-text: @brand-danger;
@panel-deploy-blocked-count-background: #171A1F;
@panel-deploy-blocked-count-border: @brand-danger;

@panel-ready-text: @brand-success;
@panel-ready-background: #171A1F;
@panel-ready-border: @brand-success;
@panel-ready-count-text: @brand-success;
@panel-ready-count-background: #171A1F;
@panel-ready-count-border: @brand-success;

@panel-default-text: #000000;
@panel-default-background: #F5F5F5;
@panel-default-border: darken(#F5F5F5, 15%);
@panel-default-count-text: #000000;
@panel-default-count-background: darken(#F5F5F5, 15%);
@panel-default-count-border: darken(#F5F5F5, 15%);

@pull-background: #20242B;
@pull-background-hover: #171A1F;

// Build statuses
@build-state-pending: #DDDDDD;
@build-state-failure: #E7B049;
@build-state-error:   #DB524B;
@build-state-success: #6CB644;

@tag-border: #EEEEEE;
@tag-default-background: #FAFAFA;
@tag-current-milestone: @brand-primary;
@tag-past-milestone: @brand-danger;
@tag-dev-blocked: #777777;
@tag-deploy-blocked: @brand-danger;

// CR and QA boxes
@status-background: #FAFAFA;
@status-border: #eeeeee;

// Signatures (CR / QA)
@signature-default: #D5D5D5;
@signature-valid: @brand-success;
@signature-valid-mine: #663399;
@signature-invalid: @brand-warning;
@signature-invalid-mine: @brand-danger;

// On hover signoffs
@signature-separator-border: #eeeeee;
@signature-separator-background: #000000;

// Refresh on hover
@refresh-hover: #265b89;
