<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Pulldasher</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/ico" href="public/img/favicon.ico">
      <link href='https://fonts.googleapis.com/css?family=Lato:200,400,700' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="css/font_awesome.css">
      <link class='active-theme' rel="stylesheet" href="css/themes/empty.css">
   </head>
   <body>
      <%- body %>
   </body>
</html>
