<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Pulldasher</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/ico" href="public/img/favicon.ico">
      <link href='https://fonts.googleapis.com/css?family=Lato:200,400,700' rel='stylesheet' type='text/css'>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <script>
         var App = {
            socketToken: "<%= socketToken %>",
            user: "<%= user %>",
            debugTools: <%= debugTools %>
         };
      </script>
   </head>
   <body style="font-size: 14px">
      <%- body %>
      <script async src="/js/bundle.js"></script>
   </body>
</html>
