.click-heading {
   cursor: pointer;
}

.info-tag {
   padding-right: 10px;
   font-weight: bold;
   max-width: 150px;
}

.refresh {
   cursor: pointer;
   float: right;
   padding: 5px;
}

.refresh:hover {
   color: blue;
}

.avatar {
   width: 22px;
   margin: 2px 3px 0 0;
}
