<a target="_blank" href="<%- pull.url() %>" class="list-group-item pull">
   <div class="build_status"></div>
   <div class="pull-contents">
      <div>
         <span class="user_icon"></span>
         <p class="pull-title"><span class="pull-repo"><%- pull.repo %></span><span class="pull-number">#<%- pull.number %>:</span> <%- pull.title %>
         </p>
      </div>
      <i class="refresh fa fa-refresh"></i>
      <div class="clearfix status-row">
         <div class="cr_remaining status-col status">
            <span class="status-type">CR</span>
         </div>
         <div class="qa_remaining status-col status">
            <span class="status-type">QA</span>
         </div>
         <div class="indicators"></div>
         <div class="user-col user_icon"></div>
      </div>
   </div>
</a>
