@mobile: ~"only screen and (max-width: 599px)";

@avatar-width: 25px;

.click-heading {
   cursor: pointer;

   @media @mobile {
      padding: 15px;
   }
}

.avatar {
   width: @avatar-width;
}


#branch_name_clipboard {
   position: fixed;
   top: 0;
   left: -1000px;
}

body {
   background-color: @background-color;
}
