.leaderboard {
   font-weight: 700;
   padding: 12px;
   height: 50px;
   background: var(--leaderboard-background);
   border-color: var(--leaderboard-border);

   @media @mobile {
      height: 75px;
   }

   .leaderboard-title {
      float: left;
      margin: 5px 25px 0 15px;
      font-size: 16px;
      line-height: 16px;
      color: var(--leaderboard-title-text);
      font-weight: 400;

      @media @mobile {
         width: 100%;
         margin: 0 0 10px 0;
         text-align: center;
      }
   }

   .leaderboard-wrapper {
      @media @mobile {
         display: table;
         margin-left: auto;
         margin-right: auto;
      }

      .leaderboard-posting {
         border-width: 1px;
         border-style: solid;
         height: 27px;
         margin-right: 7px;
         float: left;

         border-color: var(--leaderboard-posting-border);
         background: var(--leaderboard-posting-background);

         .leaderboard-count {
            display: inline-block;
            color: var(--leaderboard-posting-count);
            width: @avatar-width;
            position: relative;
            text-align: center;
            top: 2px;
            font-weight: 700;
         }

         &.leaderboard-leaders {
            background-color: var(--leaderboard-leader-background);
            border-color: var(--leaderboard-leader-border);

            .leaderboard-count {
               color: var(--leaderboard-leader-count);
            }
         }
      }
   }
}
