<%- partial('partials/nav') %>

<div class="container">

   <% for (var collection in collections.static) { %>
      <%- partial('partials/collection', {locals: {collection: collection}}) %>
   <% } %>

   <% if (collections.dynamic.length > 0) { %>
      <div class="row-fluid">
         <% for (var collection in collections.dynamic) { %>
            <%- partial('partials/collection',
             {locals: {collection: collection}}) %>
         <% } %>
      </div>
   <% } %>

</div>
