@import "../../../../bower_components/bootstrap/less/bootstrap.less";

@import "colors/night_colors.less";

@import "../components/base.less";
@import "../components/header.less";
@import "../components/pull.less";
@import "../components/leaderboard.less";

i.fa.fa-sun-o:hover {
   color: @yellow !important;
}

.navbar-toggle:hover {
   background: @dark-grey !important;
}

.pull-title .pull-number {
   font-weight: 400;
}

// Enable when we add difficuly indicators
//.status-type {
//   padding-right: 5px !important;
//}
