@import "../../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../../bower_components/font-awesome/less/font-awesome.less";

@import "colors/night_colors.less";

@import "../components/base.less";
@import "../components/header.less";
@import "../components/pull.less";
@import "../components/leaderboard.less";

.leaderboard-posting {
   border-width: 1px;
   border-style: solid;
   height: 27px !important;
   border-color: @leaderboard-posting-border;

   &.leaderboard-leaders {
      border-color: @leaderboard-leader-border;
   }
}
