<script>
   var App = {
      socketToken: "<%= socketToken %>",
      user: "<%= user %>",
      debug: <%= debug %>
   };

   // TODO: Maybe this should be another entry file
   <!-- require(['pullManager', 'jquery', 'cookies'], function(_manager, $) { -->
</script>
<script src="/public/js/bundle.js"></script>

<nav class="navbar navbar-default" role="navigation">
   <p class="navbar-brand">
      <span class="brand-highlight">Pull</span>dasher
   </p>
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
         <span id="restore-buttons"></span>
         <span id="global-indicators"></span>
         <div class="navbar-text navbar-right" id="theme-selector">
            Mode:
            <i data-css="day_theme" class="fa fa-sun-o"></i>
            <i data-css="night_theme" class="fa fa-moon-o"></i>
         </div>
         <span id="debug-indicators" class="navbar-right"></span>
      </div>
   </div>
</nav>

<div id="pulls" class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="well leaderboard cr_leaderboard">
         </div>
      </div>
      <div class="col-md-6">
         <div class="well leaderboard qa_leaderboard">
         </div>
      </div>
   </div>
   <div class="row">
      <div id="ciBlocked-container" class="col-sm-6 col-md-4">
      </div>
      <div id="deployBlockPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="readyPulls-container" class="col-sm-6 col-md-4">
      </div>
   </div>
   <div class="row">
      <div id="blockPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="crPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="qaPulls-container" class="col-sm-6 col-md-4">
      </div>
   </div>
</div>
<textarea id="branch_name_clipboard">
</textarea>
