
<script>
   var App = {
      socketToken: "<%= socketToken %>",
      user: "<%= user %>",
      debug: <%= debug %>
   };

   require(['pullManager', 'jquery'], function(_manager, $) {
      App.debugStart = function debugStart() {
         App.debug = true;
         _manager.trigger();
      };

      // Color switcher
      $(document).ready(function() {
         var cscookie = $.cookie("pulldasher-colorscheme");
         if (cscookie) {
            $('head').append('<link rel="stylesheet" type="text/css" href="css/' + cscookie + '.css">');
         }

         $("#colorscheme > span").on('click', function() {
            var colorscheme = $(this).data('css');
            $('head').append('<link rel="stylesheet" type="text/css" href="css/' + colorscheme + '.css">');
            $.cookie("pulldasher-colorscheme", colorscheme);
         });
      });
   });
</script>

<nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Pulldasher</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
         <span id="restore-buttons"></span>
         <span id="global-indicators"></span>
         <p id="colorscheme" class="navbar-right">
            <span class="option" data-css="theme-light">light</span>
            <span class="option" data-css="theme-dark">dark</span>
         </p>
         <p class="navbar-text navbar-right">
         State: <span id="connectionState"></span>
         </p>
         <span id="debug-indicators" class="navbar-right"></span>
      </div>
   </div>
</nav>

<div id="pulls" class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="well leaderboard cr_leaderboard">
         </div>
      </div>
      <div class="col-md-6">
         <div class="well leaderboard qa_leaderboard">
         </div>
      </div>
   </div>
   <div class="row">
      <div id="ciBlocked-container" class="col-sm-6 col-md-4">
      </div>
      <div id="deployBlockPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="readyPulls-container" class="col-sm-6 col-md-4">
      </div>
   </div>
   <div class="row">
      <div id="blockPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="crPulls-container" class="col-sm-6 col-md-4">
      </div>
      <div id="qaPulls-container" class="col-sm-6 col-md-4">
      </div>
   </div>
</div>
<textarea id="branch_name_clipboard">
</textarea>
